{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NaiveBase-Login</title>
  <meta name="robots" content="follow"/>
  <meta http-equiv="expires" content="4200"/>
  <meta name="description" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>
<body>
  <div class ="author"><div class="btn_auth"><a href ="#">DEV</a></div></div>
  <div class="form_holder">
  <h1 class="logo"><a href="/login">NAIVE<span> BASE</span></a></h1>
  <form class="login" method = "POST" action = "." autocomplete="off"> {% csrf_token %}
      <h1>Login</h1>
      {{ form.as_p }}
      <button type="submit" class="btn">Let me in</button>
  </form>
  </div>
    
</body> 
</html>